<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery - 360Epoxy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <div class="header-container">
        <img src="{{ url_for('static', filename='logo/360Epoxy_logo.png') }}" alt="360 Epoxy Logo" class="logo">
    </div>
        <a href="/">Home</a>
        <a href="/services">Services</a>
        <a href="/gallery">Gallery</a>
        <a href="/contact">Contact</a>
    </nav>
</header>

<section class="gallery">
    <h2>Our Projects</h2>
    <img src="{{ url_for('static', filename='images/Empty_garage_door_shut.jpg') }}" alt="Gallery Image 1">
    <img src="{{ url_for('static', filename='images/workers_close_up.jpg') }}" alt="Gallery Image 2">
    <img src="{{ url_for('static', filename='images/epoxy_floor_workers.png') }}" alt="Gallery Image 3">
    <img src="{{ url_for('static', filename='images/gallery4.jpg') }}" alt="Gallery Image 4">
</section>

<footer>
    <p>&copy; 2025 360Epoxy. All rights reserved.</p>
    <div class="footer-contact">
        <p>Phone: (480)-404-4413</p>
        <p>Email: <a href="mailto:360epoxyaz@gmail.com">360epoxyaz@gmail.com</a></p>
        <p>Instagram: <a href="https://www.instagram.com/360epoxy" target="_blank">@360epoxy</a></p>
    </div>
</footer>


</body>
</html>
